@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:wght@100;300;400;500;700&display=swap');

:root {
    --yellow: #f00606c3;
    --light-yellow: #c00b0b85;
    --black: #020105;
    --light-color: #666;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Poppins' ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

.btn  {
    display: inline-bloc !important;
    margin-top: 1rem !important;
    border-radius: .5rem !important;
    background-color: var(--light-yellow) !important ;
    color: var(--black) !important;
    font-weight: 500 !important;
    font-size: 1.7rem !important;
    cursor: pointer !important;
    padding: .8rem 3rem !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
    height: 60px;
   

}
.header .conecxion{
    display: inline;
}
.header .logo {
    font-size: 2.5rem !important;
    color: var(--black) !important;
    font-weight: bolder !important;
}
section{
    padding: 2rem 9% !important;
    
}
.header .logo span {
    color: var(--yellow) !important;
}
.navbar{
    --mdb-navbar-box-shadow: var(--box-shadow) !important;
  
}
.header .navbar a {
    font-size: 1.7rem !important;
    margin: 0 1rem !important;
    color: var(--black) !important;
}

.btn:hover {
    background-color: var(--yellow) !important
}

.btn {
    margin-top: 0 !important;
}

.header #login-btn i {
    font-size: 2.5rem !important;
    color: var(--light-color) !important;
    cursor: pointer !important;
    display: none !important;
}

#menu-btn{
    font-size: 2.5rem !important;
    color: var(--light-color) !important;
    cursor: pointer !important;
    display: none !important;
}

.header.active{
    box-shadow: var(--box-shadow) !important;
    padding: 2rem 9% !important;
}

.footer{
    background:var(--light-yellow) ;
    margin-top: 100px;

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1rem 0;
    
}
.footer .box-container .box a{
    color: var(--light-color);
    font-size: 1.4rem;
    display: block;
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--black);

}
.footer .box-container .box a:hover i{
    padding-right: 2rem;

}
.footer .credit{
    text-align: center;
    border-top: var(--border);
    padding: 1rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    font-size: 2rem;
}



















/*media queries*/
@media(max-width:1500px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;

    }
    .header.active{
        
        padding: 2rem ;
    }
    section{
        padding: 2rem ;
        
    }
}
@media(max-width:768px){
    #menu-btn{
     
        display: block !important;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg) !important;
    }
    .header #login-btn i {
       
        display: block !important;
    }
    .header #login-btn .btn {
       
        display: none !important;
    }
    .header .navbar{
        position: absolute !important;
        top: 99%;left: 0;right: 0 !important;
        background:#fff !important;
        border-top: var(--border) !important;
        clip-path:polygon(0 0 ,100% 0, 100% 0, 0 0) !important;

    }
    .header .navbar.active{
        clip-path:polygon(0 0 ,100% 0, 100% 100%, 0 100%) !important;

    }
    .header .navbar a{
        display: block !important;
        margin: 2rem !important;
        font-size: 2rem !important;
    }
    
}
@media(max-width:450px){
    html{
        font-size: 50% !important;
    }
    .heading{
        font-size: 3rem !important;
    }
}
